.fb-title-bar{
	height: 120px;
	background: black;
}

.fb-title-bar img{
  height: 100px;
  padding-top: 15px;
}


.fb-below-title{
	margin-top: 20px;
}

.fb-footer-bar{
  height: 40px;
	background: black;
}

.fb-footer-bar img{
  padding-top: 10px;
  height: 20px;
}

.fb-results{
	
}

.fb-result{
	padding-top: 20px;
}

.fb-result a{
  color: #666666;
}

.fb-result a:hover{
  text-decoration: underline;
}

label{
	color: black !important;
}

.fb-query{
	height: 200px;
}

.fb-query-cell-1{
	background-image: url("/img/FrameBusca_Numbers_1.png");
	height: 200px;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center; 
}

.fb-query-cell-2{
	background-image: url("/img/FrameBusca_Numbers_2.png");
	height: 200px;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center; 
}

.fb-query-cell-3{
	background-image: url("/img/FrameBusca_Numbers_3.png");
	height: 200px;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center; 
}

.fb-back-num{
	width: 100%;
	font-size: 200px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #aaaaaa;
	margin-top: -50px;
	margin-bottom: -50px;
	z-index; 0;
}

.fb-query-box{
	text-align: center;
	font-size: 24pt !important;
	height: 2em !important;
	border: 2px solid black !important;
	z-index: 100;
}

.fb-query-button{
	background-color: black !important;
	color: #fafafa !important;
	height: 3.2em !important;
}